/node_modules
/src/storage
/.env
/index.html

# VS Code settings
/.vscode

# Service account key  
src/config/genprd-github-action-service-key.json
src/config/genprd-storage-bucket-service-key.json
src/config/serviceAccountKey.json